.title-wrapper {
    height: 50dvh;
    background: linear-gradient(to right, pink, purple,  darkblue, blue, darkblue, purple, pink);
}
.title {
    margin: 0;
    line-height: .9;
    font-size: 9em;
    font-family: "Rubik";
    color: transparent;
    -webkit-text-stroke: 7px black;
}
.sub-title {
    margin: 0;
    line-height: 2.5;
    font-size: 2em;
    font-family: "Verdana";
    color: white;
}

.more-title {
    display: stack;
}

.podrobn {
    border: 1.5px solid white;
    background-color: red;
    width: 9rem;
    height: 50px;
    font-family: Arial Black;
    color: white;
    font-size: 120%;
    border-radius: 10px;

    margin-bottom: 55px;
}

.titles {
    padding: 5rem 0 0 10rem;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}

.cst-name {
    margin: 0;
    font-family: "Arial Black";
}

.cst-cont {
    font-family: "Courier New";
}

.why-us {
    padding: 40px 10px 0 160px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about-us {
    padding: 40px 10px 0 160px;
}
.servs {
    padding: 40px 10px 0 160px;
}

.part {
    font-family: Rubik;
}


.cst {
    max-width: 400px;
    flex: 0 0 auto;
    background: linear-gradient(135deg, #F5F5F5, white);
    border-radius: 13px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    scroll-snap-align: none;
    font-size: 85%;

    padding: 20px;
    margin: 20px;

    transition-property: transform, box-shadow;
    transition-duration: .3s;
}
.cst:hover {
    box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
    transform: scale(1.05);
}

p {
    font-size: 200%;
}

.serv-wrapper {
    display: flex;
    justify-content: space-between;
}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(210,
                    210,
                    210);
    padding: 23px;
    border-radius: 0 0 12px 12px;
    font-size: 170%;
    transition: color .3s linear;
}

figure {
    min-width: 400px;
    flex: 0 0 auto;
    background: white;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    scroll-snap-align: none;

    transition-property: transform, box-shadow;
    transition-duration: .3s;
}
figure:hover {
    box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
    transform: scale(1.05);
}

.goto {
    border-radius: 50%;
    border: none;
    width: 24px;
    height: 24px;
    background: white;

    transition: transform .25s;
}
.goto:hover {
    transform: scale(1.15);
}

.content {
    font-family: "Helvetica";
}
.services {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
}
.services::-webkit-scrollbar {
    display: none;
}

.costs {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    position: relative;
}
.costs::-webkit-scrollbar {
    display: none;
}



footer {
    background: #010513FF;
    color: white;
    padding: 20px;
}